


<div fxLayout="column">


<mat-toolbar color="primary">
  
  <span>Exame - Beijaflore</span>
</mat-toolbar>

<br />
<div style="padding: 20px;" >

  <form fxFlex="100"  fxLayoutAlign="start"
  [formGroup]="eventForm" (ngSubmit)="onSubmit()" >

    <mat-card fxFlex="100">
      <mat-card-header>
        
        <mat-card-title>Movimentos Manuais</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>

     <div fxLayout="column" fxFlex="100" >
        
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="sart start" fxFlex="1 0 auto" fxLayoutGap="15px">

          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Mes</mat-label>
            <input  type="number" matInput formControlName="mes" autocomplete="off">
            <mat-error *ngIf="eventForm.controls.mes.errors?.required">
                Campo Obrigatório!
            </mat-error>
            <mat-error *ngIf="eventForm.controls.mes.errors?.min">
                Campo deve possuir no mínimo 2 caracteres
            </mat-error>
            <mat-error *ngIf="eventForm.controls.mes.errors?.max">
                Campo deve possuir no máximo 12 caracteres
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>Ano</mat-label>
          <input type="number" matInput formControlName="ano" autocomplete="off">
          <mat-error *ngIf="eventForm.controls.ano.errors?.required">
              Campo Obrigatório!
          </mat-error>
          <mat-error *ngIf="eventForm.controls.mes.errors?.ano">
              Campo deve possuir no mínimo 2 caracteres
          </mat-error>
          <mat-error *ngIf="eventForm.controls.mes.errors?.max">
              Campo deve possuir no máximo 12 caracteres
          </mat-error>
      </mat-form-field>


        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="sart start" fxFlex="1 0 auto" fxLayoutGap="5px">

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Produto</mat-label>
              <mat-select formControlName="produtoId" (selectionChange)="pesquisarProdutosCosif()" >
                <mat-option>SELECIONE</mat-option>
                <mat-option *ngFor="let produto of produtos" [value]="produto.produtoId">
                  {{produto.descricao}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="eventForm.controls.valor.errors?.required">
                  Campo Obrigatório!
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Produto Cosif</mat-label>
              <mat-select formControlName="produtoCosifId">
                <mat-option>SELECIONE</mat-option>
                <mat-option *ngFor="let p of produtosCosif" [value]="p.produtoCosifId">
                  {{p.produtoCosifId}} - {{p.classificacao}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="eventForm.controls.valor.errors?.required">
                  Campo Obrigatório!
              </mat-error>
            </mat-form-field>           

        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="sart start" fxFlex="1 0 auto" fxLayoutGap="5px">

          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Valor</mat-label>
            <input type="number" matInput formControlName="valor" autocomplete="off">
            <mat-error *ngIf="eventForm.controls.valor.errors?.required">
                Campo Obrigatório!
            </mat-error>
            <mat-error *ngIf="eventForm.controls.valor.errors?.ano">
                Campo deve possuir no mínimo 2 caracteres
            </mat-error>
            <mat-error *ngIf="eventForm.controls.valor.errors?.max">
                Campo deve possuir no máximo 12 caracteres
            </mat-error>
        </mat-form-field>

        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="sart start" fxFlex="1 0 auto" fxLayoutGap="5px">
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Descrição</mat-label>
            <input #descricao matInput formControlName="descricao" autocomplete="off">
            <mat-error *ngIf="eventForm.controls.descricao.errors?.required">
                Campo Obrigatório!
            </mat-error>
            <mat-error *ngIf="eventForm.controls.descricao.errors?.minlength">
                Campo deve possuir no mínimo 2 caracteres
            </mat-error>
            <mat-error *ngIf="eventForm.controls.descricao.errors?.maxlength">
                Campo deve possuir no máximo 30 caracteres
            </mat-error>
            <mat-hint align="end">{{descricao.value.length}} / 30</mat-hint>
        </mat-form-field>
        </div>

      </div>

      </mat-card-content>
      <mat-card-actions>
        
        <div fxLayout="row wrap" fxLayoutAlign="end end" fxFlex="1 0 auto" fxLayoutGap="5px">
          <button mat-raised-button type="button" matTooltip="Limpar" (click)="limpar()">
              <mat-icon>clear</mat-icon>
              Limpar
          </button>

          <button type="button" mat-raised-button color="primary" matTooltip="Novo" (click)="novo()">
              <mat-icon>add</mat-icon>
              Novo
          </button>
          
          <button type="submit" mat-raised-button color="accent" matTooltip="Incluir" [disabled]="permiteSalvar">
            <mat-icon>save</mat-icon>
            Incluir
        </button>

      </div>

      </mat-card-actions>
    </mat-card>
  </form>
</div>


<div style="padding: 20px;" >
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- Position Column -->
    <ng-container matColumnDef="mes">
      <mat-header-cell *matHeaderCellDef> Mês </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mes}} </mat-cell>
    </ng-container>
  
   
    <ng-container matColumnDef="ano">
      <mat-header-cell *matHeaderCellDef> Ano </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ano}} </mat-cell>
    </ng-container>
  
   
    <ng-container matColumnDef="codigo-produto">
      <mat-header-cell *matHeaderCellDef> Código do Produto </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.produtoCosif.produto.produtoId}} </mat-cell>
    </ng-container>
  
   
    <ng-container matColumnDef="descricao-produto">
      <mat-header-cell *matHeaderCellDef> Descrição do Produto </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.produtoCosif.produto.descricao}} </mat-cell>
    </ng-container>  

    <ng-container matColumnDef="numero-lancamento">
        <mat-header-cell *matHeaderCellDef> Nr. Lançamento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.numeroLancamento}} </mat-cell>
     </ng-container>  

      <ng-container matColumnDef="descricao-movimento">
          <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
        </ng-container>  

        
      <ng-container matColumnDef="valor">
          <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.valor | currency:'BRL':true}} </mat-cell>
        </ng-container>     
   
    </mat-table>
  </div>
</div>
